header {
    
    
    font-size: larger;
    color: white;
    background-color: black;
    padding: 30px;
    margin-block: 1px;
    
}



body {
    background-color: rgb(12, 12, 226);
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    
}

p   {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
}

h1  {
    color: white;
}

.active {
    color: white;
    animation: scroll-left 15s linear infinite;
   
}

a   {
    color: white;
    
    
}

img {
    margin-left: 1000px;
    
}

nav {
    box-shadow: 0 0 12px -2px black;
    
    
}

div {
   
 
    
    flex-direction: row;

}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) ;
    gap: 10px;
    align-items: stretch;
}

form {
    display: flex;
    flex-direction: column;
    margin-right: 50%;
    margin-left: 10%;
    height: calc(70% + 80px);
    
}

@media (max-width:800px) {
    body{
        background-color: black;
    }
    section{
        background-color: green;
    }
    .grid-container{
        grid-template-columns: repeat(2,1fr);
    }
    
}

section:nth-child(odd){
    background-color: goldenrod;
}

section:hover{
    background-color:maroon;
}